In [2]:
# nested if statements

x = 15
if x > 10 :
    print("above ten")
    if x > 20 :
        print("and also above 20")
    else :
        print("but not above 20")

above ten
but not above 20

In [8]:
# write a program to find median of three numbers (middle number)

a = float(input("Enter first number"))
b = float(input("Enter second number"))
c = float(input("Enter third number"))

if a > b :
    if a < c :
        median = a
    elif b > c :
        median = b
    else :
        median = c
else :
    if a > c :
        median = a
    elif b < c :
        median = b
    else :
        median = c
print("The median is", median)

Enter first number12
Enter second number5
Enter third number7
The median is 7.0

In [3]:
# write a program that reads two integers representing a month and prints the season for that month and day
'''
input month and day
seasons
winter : 21 December-20 March 
spring : 21 March- 20 June    
summer : 21 June - 22 September  
autumn : 23 September - 20 December
'''

day = int(input("Enter day: "))
month = int(input("Enter month: "))
valid = True

if month == 12 and day >= 21 or month == 3 and day <= 20 or month >= 1 and month < 3:
    season = "Winter"
elif month == 3 and day >= 21 or month == 6 and day <= 20 or month > 3 and month < 6:
    season = "Spring"
elif month == 6 and day >= 21 or month == 9 and day <= 22 or month > 6 and month < 9:
    season = "Summer"
elif month == 9 and day >= 23 or month == 12 and day <= 20 or month > 9 and month < 12: 
    season = "Autumn"
else:
    print("Wrong number entered")
    valid = False
    
if valid == True:   
    print("Day:", day, "\nMonth:", month, "\nSeason:", season)

Enter day: 5
Enter month: 12
Day: 5
Month: 12
Season: Autumn

In [9]:
# for loop

for x in "banana" :
    print(x)

b
a
n
a
n
a

In [12]:
numbers = [1,2,3,4,5]
for num in numbers:
    print(num)

1
2
3
4
5

In [13]:
numbers = [1,2,3,4,5]

for num in numbers:
    print("Hello")

Hello
Hello
Hello
Hello
Hello

In [14]:
fruits = ["apple", "banana", "cherry"]

for x in fruits :
    print(x)

apple
banana
cherry

In [16]:
# check which number is divisible by 3

numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

for num in numbers :
    if num %3 == 0:
        print(num)

3
6
9
12

In [18]:
# find square of the odd number
import math

numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

for num in numbers :
    if num % 2 != 0:
        print(math.pow(num,2))

1.0
9.0
25.0
49.0
81.0
121.0

In [19]:
# sum of the numbers in the list
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

sum = 0 
for num in numbers:
    sum += num
print(sum)

78

In [20]:
# range function, sum of the numbers in the range
x = range(1,13)
sum = 0 
for num in x :
    sum += num
print(sum)

78

In [22]:
# range function
x = range(1,20,2) # increment by 2 (odd numbers)
for num in x:
    print(num)

1
3
5
7
9
11
13
15
17
19

In [23]:
# range function
x = range(20,2,-2) # decremant by 2
for num in x: 
    print(num)

20
18
16
14
12
10
8
6
4

In [25]:
x = range(10,-6,-2)
for num in x: 
    print(num)

10
8
6
4
2
0
-2
-4

In [26]:
x = range(-6,10,2)
for num in x: 
    print(num)

-6
-4
-2
0
2
4
6
8

In [27]:
# reversed function

for i in reversed(range(5)):
    print(i)

4
3
2
1
0

In [28]:
# normal order
for i in range(5):
    print(i)

0
1
2
3
4

In [35]:
# find square of numbers
for i in range(3):
    num = int(input("Enter number: "))
    print("The square of your number:",num*num)
print("The loop is done")

Enter number: 5
The square of your number: 25
Enter number: 4
The square of your number: 16
Enter number: 3
The square of your number: 9
The loop is done

In [39]:
print('A')
print('B')
for i in range(5):
    print('C')
for i in range(3):
    print('D')
print('E')

A
B
C
C
C
C
C
D
D
D
E

In [41]:
print('A')
print('B')
for i in range(5):
    print('C')
    print('D')
print('E')

A
B
C
D
C
D
C
D
C
D
C
D
E

In [43]:
s = input("Please type some character: ")
for c in s:
    print(c)
print("done")

Please type some character: how are you?
h
o
w

a
r
e

y
o
u
?
done

In [44]:
for i in range(4):
    print('*'*5)

*****
*****
*****
*****

In [47]:
for i in range(5): # 0,1,2,3,4
    print('*'*(i+1))

*
**
***
****
*****

In [48]:
# converted to string
x = 10
y = 20 
print(str(x)+ str(y))

1020

In [49]:
# using a nested loop number 
for i in range(10):  # 0,1,2,...,9
    print(str(i)*i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [56]:
# multiplication table
num = int(input("Enter a number: "))
for i in range(1,11):
    print(num, "x", i, "=",num*i)

Enter a number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50